<!DOCTYPE html>
<html
	xmlns:th="http://www.thymeleaf.org"
>
<head>
<meta charset="ISO-8859-1">
<title>Booking System</title>
<link th:href="@{/css/style.css}" rel="stylesheet" />
<link th:href="@{/css/custom.css}" rel="stylesheet" />

</head>
<body>
<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
      <div class="container">
        <a href="../" class="navbar-brand">Active Health</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Themes <span class="caret"></span></a>
              <div class="dropdown-menu" aria-labelledby="themes">
                <a class="dropdown-item" href="../default/">Default</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="../cerulean/">Cerulean</a>
                <a class="dropdown-item" href="../cosmo/">Cosmo</a>
                <a class="dropdown-item" href="../cyborg/">Cyborg</a>
       
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/help">Help</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://blog.bootswatch.com">Blog</a>
            </li>
          </ul>

          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/register" target="_blank">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login" target="_blank">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <!-- *********** Content *********** -->
    
    <div class="container">
	    <div class="page-header" id="banner">
	        <div class="row">
	          <div class="col-lg-8 col-md-7 col-sm-6">
	            <h1>Client List</h1>
	          </div>
	          <div class="col-lg-4 col-md-5 col-sm-6">
	            <div class="sponsor">
	              <script async="" type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CKYIE23N&amp;placement=bootswatchcom" id="_carbonads_js"></script>
	            </div>
	          </div>
	        </div>
	      </div>
	      
	      
	      <table class="table table-hover">
		  <thead>
		    <tr>
		      <th scope="col">ID</th>
		      <th scope="col">Name</th>
		      <th scope="col">Email</th>
		      <th scope="col">Phone Number</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="client : ${clientList}">
		      <th th:text="${client.id}" scope="row"></th>
		      <td th:text="${client.clientName}"></td>
		      <td th:text="${client.clientEmail}"></td>
		      <td th:text="${client.clientPhone}"></td>
		    </tr>
		     </tbody>
			</table> 			
	</div>
	
	
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	
</body>
</html>